<nav class="navbar navbar-expand-sm navbar-light bg-light" id="footer">
    <ul class="navbar-nav d-flex justify-content-around">
        <!--<a class="nav-item nav-link" href="/tos">利用規約</a>
            <a class="nav-item nav-link" href="/privacypolicy">プライバシーポリシー</a>-->
        <small>&copy; 2020 ドラゴンボールヒーローズ買取・高騰ツール</small>
    </ul>
</nav>