<%- include ('layouts/header') %>
<div class="container">

    <h1>仕様について</h1>
    <h3>1 それぞれのカードの平均価格について</h3>
    <ol>
        <li>毎日午前6時に更新します。</li>
        <li class="text-danger">BM3弾のカードの平均価格は0となっていますが、これはエラーによるものです。早急に対処します。</li>
        <li>計算方法について</li>
        <ul>
            <p>ある日付のヤフオク・ラクマの平均価格は、ヤフオク・ラクマそれぞれのサイトにて、その日付の午前3時までに売り切れた商品について、最新の10個の商品から求められます。計算結果が小数の場合は四捨五入します。
            </p>
            <h5>例</h5>
            <p>2020年8月29日の平均価格は2020年8月29日の午前3時までに売り切れた最新の商品10個で求められます。</p>
            <p>計算は下記を参考にすると、商品2から商品11のそれぞれの価格を平均するため、( 120 + 100 + 500 + 190 + 405 + 239 + 960 + 777 + 776
                +　441　) ÷
                10 = 450.8 = 451円となります。</p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-title">あるカードの商品の例(売り切れた時間について降順)</p>
                    <ul class="list-group list-group-flush card-text list-unstyled">
                        <small>商品名 売り切れた時間 価格</small>
                        <li>商品1 8月29日8時 6000円</li>
                        <li>商品2 8月29日3時 120円</li>
                        <li>商品3 8月29日2時 100円</li>
                        <li>商品4 8月29日2時 500円</li>
                        <li>商品5 8月29日1時 190円</li>
                        <li>商品6 8月29日0時 405円</li>
                        <li>商品7 8月28日22時 239円</li>
                        <li>商品8 8月28日22時 960円</li>
                        <li>商品9 8月28日21時 777円</li>
                        <li>商品10 8月25日11時 776円</li>
                        <li>商品11 8月24日5時 441円</li>
                        <li>商品12 7月11日3時 1600円</li>
                    </ul>
                </div>
            </div>
        </ul>
        <li>トップページの平均価格はラクマの平均価格とヤフオクの平均価格を平均したものです</li>
    </ol>

    <h3>2 それぞれのカードの価格推移について</h3>
    <ol>
        <li>毎日午前6時に更新します</h5>
        <li>
            価格推移のグラフは、[2020年8月19日]から[あなたがサイトを見ている時の日付]までを横軸として、それぞれの日付の平均価格を縦軸として構成されます。それぞれの日付の平均価格については仕様1を参考にしてください
        </li>
    </ol>

    <h3>3 カード検索機能について</h3>
    <ol>
        <p>カード番号(例:h1-22)またはカード名(例:孫悟空)で検索してください。これ以外(例:アビリティ名 ヒーロータイプ等)のキーワードでの検索はできません。</p>
    </ol>
</div>
</div>
</body>

</html>